body {
    margin: 0;
}

.logh {
    display: block;
}

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    height: 90vh; 
    position: relative;
    margin: 1em;
}

.image-container {
    grid-column: 2 / 2;
    position: absolute;
    top: 0;
    right: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
  }
  
  .image-container img {
    border-radius: 50%; 
    max-width: 100%; 
    height: auto; 
  }


  .image-container button {
    background-color: #333;
    color: #fff;
    margin-top: 1em;
    padding: 0.5em 1em; 
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.image-container button:hover {
    background-color: black;
}
.actionButton{
    background-color: #333;
}
.actionButton:hover{
    background-color: black;
}

.profilePreference {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.profileBox {
    background-color: whitesmoke;
    border: 1px solid #ccc; 
    width: 80%;
    height: 20%;
    margin-bottom: auto;
}


.logo {
    grid-column: 1 / 2; 
    display: flex;
    justify-content: center;
    align-items: center;
}
#logoID {
    width: 60%;
}

.loginLogo {
    display: block;
    margin: 20px auto 0; 
    height: 35vh;
}


.lrContainer {
    grid-column: 2 / 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.lrButton {
    margin: 2em;
}

    .lrButton a {
        display: block;
        padding: 1em 4em;
        background-color: #333;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-size: 16px;
    }

    .lrButton a:hover {
        background-color: black;
    }
.addItem{
    background-color: #333;
}

.addItem:hover{
    background-color: black;
}

.logins {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.login {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
}

    .login input {
        margin-bottom: 10px;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ddd;
    }

    .login button {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: #212121;
        color: #fff;
        cursor: pointer;
    }
    
.shoplist {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shopping-list-container {
    margin-bottom: 20px;
}

#shoppingList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    #shoppingList li {
        position: relative; 
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        margin-bottom: 5px;
        background-color: #f9f9f9;
        border-radius: 5px;
    }


.add-item input[type="text"] {
    padding: 8px;
    width: calc(100% - 70px);
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px; 
}

.add-item button {
    padding: 8px 15px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.item-buttons {
    display: flex;
    align-items: center;
}

    .item-buttons button {
        padding: 5px;
        margin-left: 5px; 
        border: none;
        background-color: #333;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
    }

.action-buttons {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

    .action-buttons button {
        padding: 10px 20px;
        border: none;
        background-color: #212121;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 10px; 
    }


    #sideMenu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        background-color: #212121;
        padding: 20px;
        z-index: 9999; 
        overflow-y: auto; 
    }
    
        #sideMenu a {
            color: #fff;
            display: block;
            margin-bottom: 10px;
            text-decoration: none;
            background-color: #212121;
        }

#menuButton {
    z-index: 10000;
    background-color: transparent;
    color:#212121;
    position: fixed;
    top: 10px; 
    left: 10px; 
    color: #fff; 
    border: none; 
    cursor: pointer;
}

.spinner button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

    .spinner button:hover {
        background-color: black; 
    }

.spinner input[type="number"]::-webkit-inner-spin-button,
.spinner input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.preferenceContainer {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: space-evenly;
}

.editBox {
    position: relative;
    width: 60%;
    height: 100px;
    max-width: 800px;
    max-height: 200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white; 
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    overflow: hidden;
}

    .editBox::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0); 
        transition: background-color 0.5s ease;
    }

    .editBox:hover::before {
        background-color: rgba(0, 0, 0, 0.5); 
    }

#editBox1 {
    background-image: url('allergies.png');
    background-size: cover;
    background-position: center;
}

#editBox2 {
    background-image: url('regime.jpg');
    background-size: cover;
    background-position: center;
}

#editBox3 {
    background-image: url('favFoods.jpg');
    background-size: cover;
    background-position: center;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.db {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    z-index: 8888;
}

    header h1 {
        font-size: 24px;
    }

.dbmain {
    padding: 20px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    width: 250px;
}

    .product img {
        max-width: 100%;
    }

    .product h2 {
        margin-top: 10px;
    }

    .product p {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .product button {
        background-color: #333;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        padding: 10px 20px;
        transition: background-color 0.3s ease;
    }

        .product button:hover {
            background-color: black;
        }

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.spinner input[type="number"] {
    width: 50px; 
    padding: 5px; 
    text-align: center; 
    font-size: 14px;
}


@media screen and (max-width: 373px) {
    .spinner input[type="number"] {
        width: 30px; 
        padding: 3px; 
        font-size: 12px;
    }
}


@media screen and (max-width: 600px) {
    .spinner input[type="number"] {
        width: 15vw; 
        padding: 2vw; 
        font-size: 3vw; 
    }
}


@media screen and (max-width: 320px) {
    .spinner input[type="number"] {
        width: 25px; 
        padding: 2px; 
        font-size: 10px; 
    }
}



.statistic  h1, h2, h3 {
    color: #333;
}

.statistic {
    padding: 20px;
    text-align: center;
}

.stats-container {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.stats-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
}

.stats-item h3 {
    margin-bottom: 10px;
    color: #555;
}

.stats-item ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.stats-item li {
    margin-bottom: 5px;
    color: #777;
}